

.banner-img{
   height: 400px;
   object-fit: cover;
   width: 100%;
}

.dev-logo{
   border-radius: 100px;
   height: 200px;
   object-fit: cover;
   width: 200px;
}

.dev-text{
   margin: 10px;
}

.hobby-img{
   border-radius: 75px;
   height: 150px;
   object-fit: cover;
   width: 150px;
   margin: 25px;
}

.scrolling-wrapper{
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   height: 500px;
   width: 100%;
   .design-img{
      display: inline-block;
   }
}
.design-img{
   height: 500px;
   max-width: 800px;
   object-fit: cover;
   margin: 10px;
}

.profile-img{
   border-radius: 200px;
   height: 400px;
   width: 400px;
   object-fit: cover;
}

.center{
   display: block;
   margin: auto;
   text-align: center;
}
