

.banner-img{
   height: 400px;
   object-fit: cover;
   width: 100%;
}

.dev-logo{
   border-radius: 100px;
   height: 200px;
   object-fit: cover;
   width: 200px;
}

.dev-text{
   margin: 10px;
}

.hobby-img{
   border-radius: 75px;
   height: 150px;
   object-fit: cover;
   width: 150px;
   margin: 25px;
}



.center{
   display: block;
   margin: auto;
   text-align: center;
}
